astropy==2.0.3
matplotlib==2.1.1
ephem==3.7.6.0
joblib==0.11
jsmin==2.2.2
numba==0.36.2
numpy==1.14.0
multiprocess==0.70.5
pandas==0.22.0
scipy==0.19.1
spectrum-overload
# Starfish
sqlalchemy
tqdm==4.17.1
typing>=3.5.3.0  # Otherwise yarl fail with python 3.4
PyAstronomy==0.12.0
pyyaml
