astropy==3.0.3
matplotlib==2.2.2
ephem==3.7.6.0
joblib==0.12.0
jsmin==2.2.2
numba==0.39.0
numpy==1.14.5
multiprocess==0.70.6
pandas==0.23.3
scipy==1.1.0
spectrum-overload==0.2.1
# Starfish
sqlalchemy==1.2.10
tqdm==4.23.4
typing>=3.5.3.0  # Otherwise yarl fail with python 3.4
PyAstronomy==0.13.0
pyyaml==3.13
logutils==0.3.5
