astropy==3.0
matplotlib==2.1.2
ephem==3.7.6.0
joblib==0.11
jsmin==2.2.2
lmfit
numba==0.37.0
numpy==1.14.0
multiprocess==0.70.5
pandas==0.22.0
scipy==1.0.0
spectrum-overload==0.2.1
# Starfish
sqlalchemy==1.2.3
tqdm==4.19.5
typing>=3.5.3.0  # Otherwise yarl fail with python 3.4
PyAstronomy==0.12.0
pyyaml==3.12
logutils==0.3.5
